.table {
  display: flex;
}

.rwt-table {
  display: flex;
  flex-direction: column;
}

.rwt-table__header {
}

.rwt-table-header {
  background-color: rgba(0, 185, 255, 0.1);
}

.rwt-table__body {
}

.rwt-table-body {
}

.rwt-table-header__row {
}

.rwt-table-body__row {
}

.rwt-table-row {
  display: flex;
}

.rwt-table-row__cell {
}

.rwt-table-cell {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.rwt-table-cell_in-header {
  font-size: 16px;
}

button.rwt-table-cell_in-header {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.rwt-table-cell_in-header .icon {
  height: 24px;
}

.rwt-table-cell_in-body {
}
